@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

body {
    background-color: black;
  }
  top {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
    align-items: center;
    font-family: "Syne Tactile", cursive;
  }  
  .beatbox {
    width: 450px;
    height: 450px;
    background-color: black;
  
  }